---
layout: page
title: Stéphane
subtitle: Web Development and Modeling Consultant
image: /img/homepage/homepage-bg.jpg
---
{% for post in paginator.posts %}
{% unless post.draft %}
<div class="post-preview">
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
  <a href="{{ post.url | relative_url }}">
    <h2 class="post-title">
      {{ post.title | escape }}
    </h2>
    <h3 class="post-subtitle">
      {{ post.subtitle | escape }}
    </h3>
  </a>
  <p class="post-meta">Posted by <a href="/about">{{ post.author }}</a> on {{ post.date | date: date_format }}</p>
</div>
<hr>
{% endunless %}
{% endfor %}
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<div class="clearfix">
  {% if paginator.previous_page %}
  <a class="btn btn-secondary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  {% endif %}
  {% if paginator.next_page %}
  <a class="btn btn-secondary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  {% endif %}
  </div>
{% endif %}