<head>
  <title>{{ page.title }} - {{ page.subtitle }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ site.url }}/assets/css/clean-blog.css" />
  <link rel="stylesheet" href="{{ site.url }}/assets/css/code-github.css" />
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" />

  <meta name="description" content="{{ page.subtitle }}">
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ page.subtitle }}">
  <meta property="og:image" content="http://www.sbegaudeau.com{{ page.image }}">
  <meta property="og:url" content="http://www.sbegaudeau.com{{ page.url }}">
  <meta property="og:site_name" content="Stéphane Bégaudeau">
  <meta name="twitter:site" content="@sbegaudeau">
  <meta name="twitter:creator" content="@sbegaudeau">
  <meta name="twitter:title" content="{{ page.title }}"/>
  <meta name="twitter:description" content="{{ page.subtitle }}">
  <meta name="twitter:image:alt" content="{{ page.title }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ page.subtitle }}">
  <meta itemprop="image" content="http://www.sbegaudeau.com{{ page.image }}"> 
</head>
