---
layout: default
---
<header class="masthead" style="background-image: url('{{ page.image }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title | escape }}</h1>
          <span class="subheading">{{ page.subtitle | escape }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{ content }}
    </div>
  </div>
</div>

<hr>